{% extends 'base.html' %}

{% block title %} Deck {% endblock %}

{% block header %} 
{% endblock %}

{% block content %} 
      <div class="row">
         <div class="column-3">
            <a href="/createdeck" class="btn btn-primary">Add deck</a>
         </div>
      </div>
      <div class="row justify-content-center">
      {% for deck in decks  %}
      <!-- Will only show decks if user was the one who created them. -->
         {% if deck.user == current_user %}
              <div id="deckrow" class="col-4 display:inline text-center">
                  <div class="card-deck ">
                     <div class="card px-5 py-5 my-3">
                        <div class="card-body">
                           <h3 class="card-title"> {{ deck.deck_name }}</h5> <br>
                              <a href="{{ url_for('edit_deck', deck_id=deck.id) }}" class="btn btn-primary">Edit</a>
                              <!-- Button trigger modal, replaced a to the button modal, keep the # for data-bs-target -->
                              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteDeckModal-{{ deck.id }}">
                                 Delete
                              </button>                        
                        </div>
                     </div>  
                  </div> 
            </div>

            <!-- Change the data target on button modal and id modal to same, include deck id so the modal knows what to target -->
            <div class="modal fade" id="deleteDeckModal-{{ deck.id  }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h2 class="modal-title fs-5" id="exampleModalLabel"> Delete deck: {{ deck.deck_name }}?</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                        Are you sure you want to delete {{ deck.deck_name }}? 
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!-- Change button to anchor tag so it redirects user  -->
                        <a href="{{url_for('delete_deck', deck_id=deck.id)}}" class="btn btn-danger">Delete Deck</a>
                     </div>
                  </div>
               </div>
            </div>
         {% endif %}  
      {% endfor %}  
      </div>  

{% endblock %}




<!-- <div class="container">
   <div class="row align-items-start mt-5">
      <div class="col-sm-3 align-items-start">
         <div class="card text-center" style="height: 20rem;">
            <div class="card-body mt-5">
               <h3 class="card-title"> {{ deck.deck_name }}</h5> <br>
               <a href="#" class="btn btn-primary">Start</a>
               <a href="#" class="btn btn-primary">Delete</a>
            </div>
         </div>
      </div>
   </div>   
</div> -->

<!-- <div class="card-columns">
   <div class="card">
     <div class="card-body">
      <h3 class="card-title"> {{ deck.deck_name }}</h5> <br>
         <h3 class="card-title"> {{ deck.deck_name }}</h5> <br>
         <a href="#" class="btn btn-primary">Start</a>
         <a href="#" class="btn btn-primary">Delete</a>
     </div>
   </div> -->