{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %} 
{% endblock %}


{% block content %} 
<div class="container">
    <div id="main_text">
        <div class="row ">
            <div class="col-lg-12">
                <div id="content">
                    <h1>FlashCard</h1>
                    <h2>Study in a Flash</h2>
                    <h3>Upgrade your study routine with our innovative app. <br />Access pre-made flashcards or create your own.<br /> Ditch the old flashcards and start learning smarter today.<br /><br /><p>Sign Up to get started.</p></h3>
                    <hr />
                    <button class="btn btn-default btn-lg"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


